.features
    .container
        .features__inner
            h2.features__heading.main-heading Знаем о особенностях CMS PRESTASHOP очень многое
            p Анализируя сайты своих клиентов, мы&nbsp;осознали одну простую вещь: &laquo;мелочь ничего не&nbsp;прощает большому&raquo;. Кривой код, ворованные модули, мелкие технические недочеты которые ловко утаили от&nbsp;глаз так званые &laquo;специалисты&raquo;. И&nbsp;это лишь малая часть проблем, которая влияет на&nbsp;успешность Вашего сайта.

.feature-options
    .container
        .feature-options__inner
            .feature-options__descr
                .feature-options__descr-item
                    h3.feature-options__title Содержимое
                        br
                        | и информативность
                    ul.feature-options__list
                        li.feature-options__item Товар не&nbsp;имеет необходимого описания, категории без описаний, нет необходимой информации о&nbsp;способах оплаты и&nbsp;доставке.
                        li.feature-options__item Информации о&nbsp;возможности возврата товара или замены.
                        li.feature-options__item Нет сопутствующей тематической информации как подобрать товар.
                .feature-options__descr-item
                    h3.feature-options__title Растраты
                    ul.feature-options__list
                        li.feature-options__item Товар не&nbsp;имеет необходимого описания, категории без описаний, нет необходимой информации о&nbsp;способах оплаты и&nbsp;доставке.
                .feature-options__descr-item
                    h3.feature-options__title Функционал
                    ul.feature-options__list
                        li.feature-options__item Товар не&nbsp;имеет необходимого описания, категории без описаний, нет необходимой информации о&nbsp;способах оплаты и&nbsp;доставке.
                .feature-options__descr-item
                    h3.feature-options__title Реклама
                    ul.feature-options__list
                        li.feature-options__item Товар не&nbsp;имеет необходимого описания, категории без описаний, нет необходимой информации о&nbsp;способах оплаты и&nbsp;доставке.
                .feature-options__descr-item
                    h3.feature-options__title Удобство
                    ul.feature-options__list
                        li.feature-options__item Товар не&nbsp;имеет необходимого описания, категории без описаний, нет необходимой информации о&nbsp;способах оплаты и&nbsp;доставке.

                button.btn--main.feature-options__btn(type="button") Решить проблемы

            .feature-options__headings
                .feature-options__headings-inner
                    img.feature-options__diagram(src="img/diagram-image.png", alt="")
                    .feature-options__links
                        a.feature-options__link.active#informative-btn(href="#") Информативность
                        a.feature-options__link#rasters-btn(href="#") Растраты
                        a.feature-options__link#functional-btn(href="#") Функционал
                        a.feature-options__link#advertising-btn(href="#") Реклама
                        a.feature-options__link#convenience-btn(href="#") Удобство