header.header
	.container
		.header__top
			.logo
				a.logo__link(href="#")
					img.logo__image(src="img/logo.png" alt="PSF Logo")

			.mobile-nav
				include menu
				include languages

			button.mobile-menu-icon(id="tooggleNav" type="button" aria-label="Кнопка меню")
				span(aria-hidden="true")
				span(aria-hidden="true")
				span(aria-hidden="true")


		include hero