.hero
    .hero__text
        h1.hero__text-heading Специалист
            b  Prestashop
        p.hero__text-descr Правильные процессы дают правильные результаты.
            br
            | Мы&nbsp;точно знаем, как грамотно подать клиентам Ваш товар или&nbsp;услугу.
        a.hero__btn(href="#") Получить консультацию
    .hero__image
        img.hero__cube(src="img/vector-smart-object-3-copy.png" alt="PSF Logo")
        img.hero__cube-big(src="img/vector-smart-object-3.png" alt="PSF Logo")
        img.hero__people(src="img/vector-smart-object_2.png" alt="PSF Logo")