.languages
  ul.languages__list
      li.languages__item
        a()
          img.languages__flag(src="img/russia.svg" width="30" height="30")
      li.languages__item
        a(href="#")
          img.languages__flag(src="img/united-states.svg" width="30" height="30")