nav.nav
    ul.nav__list
        li.nav__item
            a(href="#").nav__link.current Преимущества
        li.nav__item
            a(href="#").nav__link Портфолио
        li.nav__item
            a(href="#").nav__link Услуги
        li.nav__item
            a(href="#").nav__link Схема работы
        li.nav__item
            a(href="#").nav__link Команда