.newsletter
    .container
        h2.main-heading.newsletter__heading Как обойти конкурентов
            br
            | и ПОВЫСИТЬ ДОХОД?
        p Мы осознанно и регулярно делимся со своими клиентами многими важными вещами. Осталось только узнать о том, какие еще проблемы могут препятствовать Вашей потенциальной прибыли…
        p
            b Подпишись на рассылку, и получай простые и эфективные инструкции как
        form.newsletter__form
            input.newsletter__input(type="text" placeholder="Ваше имя")
            input.newsletter__input(type="tel" placeholder="Ваш телефон")
            button.newsletter__btn.btn--main(type="submit") Подписаться