.services
    .container

        h2.main-heading Услуги

        ul.services__list
            li.services__item
                .services__icon
                    img(src="", alt="")
                h3.services__title МУЛЬТИ ЛЕНДИНГ
            li.services__item
                .services__icon
                    img(src="", alt="")
                h3.services__title Создание интернет-магазина
            li.services__item
                .services__icon
                    img(src="", alt="")
                h3.services__title СОЗДАНИЕ ШАБЛОНА
            li.services__item
                .services__icon
                    img(src="", alt="")
                h3.services__title AMP МАГАЗИН
            li.services__item
                .services__icon
                    img(src="", alt="")
                h3.services__title SEO ОПТИМИЗАЦИЯ И ПРОДВИЖЕНИЕ
            li.services__item
                .services__icon
                    img(src="", alt="")
                h3.services__title ВНЕДРЕНИЕ GOOGLE ENCANTED ECOMMERCE
            li.services__item
                .services__icon
                    img(src="", alt="")
                h3.services__title ДИНАМИЧЕСКИЙ РЕМАРКЕТИНГ
            li.services__item
                .services__icon
                    img(src="", alt="")
                h3.services__title ПОЛНЫЙ АУДИТ