$ff-main: 'Open Sans', sans-serif;
$ff-heading: 'ProximaNova-Extrabld', 'ProximaNova-Bold', 'Open Sans', sans-serif;
$ff-heading-s: 'ProximaNova-Bold', 'Open Sans', sans-serif;
$ff-button-sb: 'ProximaNova-Semibold', 'Open Sans', sans-serif;

// Colors

$col-nav-link:     #f5f5f5;
$c-main-heading:   #363e66;
$c-services-title: #221720;